@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}




h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lightBackground {
    background-image: url('./assets/lightTopLeft.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

    /* background: rgb(247,208,240);
background: radial-gradient(circle, rgba(247,208,240,1) 0%, rgba(201,245,255,1) 50%, rgba(249,249,249,1) 100%); */
}



.darkBackground {
    /* background: rgb(61, 91, 157);
    background: radial-gradient(circle, rgba(61, 91, 157, 1) 0%, rgba(17, 24, 39, 1) 100%); */
    background: rgb(61, 91, 157);
    background: radial-gradient(circle, rgba(61, 91, 157, 1) 0%, rgba(17, 24, 39, 1) 100%);

}

.custom-gradient-border {
    background: linear-gradient(rgba(61, 91, 157, 1), rgba(17, 24, 39, 1)) padding-box,
        /* inner color */
        linear-gradient(to right, rgba(61, 91, 157, 1), #e5e4eb) border-box;
    /* border color */
    border: 1px solid transparent;
}

.custom-gradient-border:hover {
    border: 0px solid transparent;
    /* make space for the gradient border */
}

.positionTextGradient {

    /* background: #FFFFFF;
    background: linear-gradient(to right, #89a6e6 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* text-shadow: 0px 0px 3.5px rgb(236, 236, 250); */

    text-shadow: 0px 0px 0 rgb(223, 223, 223), 1px -1px 0 rgb(202, 202, 202), 2px -2px 0 rgb(180, 180, 180), 3px -3px 0 rgb(158, 158, 158), 4px -4px 0 rgb(136, 136, 136), 5px -5px 4px rgba(0, 0, 0, 0.2), 5px -5px 1px rgba(0, 0, 0, 0.5), 0px 0px 4px rgba(0, 0, 0, .2);

}

.introBody {
    height: calc(100vh - 70px) !important;
    padding: 0.5rem;
    /* width: 100vw; */

}


.introPart {
    height: calc(100vh - 200px) !important;
}

@media (max-width: 575px) {

    .introPart {
        height: calc(100vh - 230px) !important;
    }

}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}